# .dev.vars

# The URL to run the application
DISCORD_API_BASE="https://discord.com/api"
CALLBACK_URL="http://localhost:8787"

# Discord OAuth2
DISCORD_CLIENT_ID="YOUR_DISCORD_CLIENT_ID"
DISCORD_CLIENT_SECRET="YOUR_DISCORD_CLIENT_SECRET"

# Google OAuth2
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"

DISCORD_BOT_TOKEN="YOUR_DISCORD_BOT_TOKEN"
DISCORD_GUILD_ID="YOUR_DISCORD_GUILD_ID"
DISCORD_ROLE_ID="YOUR_DISCORD_ROLE_ID"
DISCORD_NOTIFICATION_WEBHOOK="YOUR_DISCORD_NOTIFICATION_WEBHOOK"

# JWT Secret
JWT_SECRET="YOUR_JWT_SECRET"